body {
    margin: 0px;
    padding: 0px;
    background-image: url("/images/home_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

nav {
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 15px;
    padding-top: 40px;
    padding-bottom: 60px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 25px;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: 5px double white;
    border-radius: 20px;
    margin: 6px;
    transition: 0.5s ease;
}

ul li a:hover {
    padding: 15px 30px;
    color: black;
    background-color: rgb(255, 255, 255, 0.5);
    border: 5px double black;
}

ul li.active a {
    color: white;
    font-family: "Berkshire Swash", cursive;
    font-weight: 100;
    font-style: italic;
    background-color: rgb(0, 0, 0, 0.5);
    border: 5px double white;
}

.head {
    color: black;
    background-color: rgb(255, 255, 255, 0.4);
    height: 450px;
    width: 700px;
    border-radius: 20px;
    margin: 20px auto;
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 80px;
    border: 3px solid red;
}

.head h2 {
    margin-top: 15px;
    margin-bottom: 5px;
    text-shadow: 17px 22px 6px rgb(98, 78, 78);
}

p {
    margin-top: 7px;
}

p:hover {
    text-decoration: 2px underline overline;
}

.sub {
    display: none;
    position: absolute;
    text-align: center;
    z-index: 1;
}

.sub a {
    display: block;
}

.main ul li:hover .sub {
    display: block;
    position: absolute;
    margin-top: 20px;
    margin-left: 100px;
}
